<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Landing page.css"> 
    <link rel="icon" type="icon" href="/static/page Img/music.jfif">
    <title>MUSIC WEBSITE</title>
</head>
<body>
    <div class="LOGO">
        <nav>
            <img src="/static/page Img/2Dia de muertos celebration-rafiki.svg" class="logo">     
            <ul>
                <li><a href="/templates/index.html">HOME</a></li>
                <li><a href="/templates/about.html">ABOUT</a></li>
                <li><a href="/templates/login.html">LOGIN</a></li>
                <li><a href="#">FEEDBACK</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="img">
                <img src="/static/page Img/Blue 2 Headphone-amico.png" class="midimg">
            </div>

            <div class="content">
                <h1>NO MUSIC , NO LIFE</h1>
                <h3>experience the music like never before</h3>
            </div>
        </div>

    </div>

</body>
</html>