<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MusicWebsite-Login Page</title>
 <link rel="stylesheet" href="/static/css/style1.css">  
 <link rel="icon" type="icon" href="/static/page Img/music.jfif">

</head>
<body>
  <div class="login-box">
    <h1>Login</h1>
    <form method="post">
      <p>Username</p>
      <input type="text" name="username" placeholder="Enter username">
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter password">
      <input type="submit" value="Submit">
    </form>
    <p>Create new Account <br> <br><a href="/templates/index.html">Register</a></p>
  </div>
</body>
</html>
