<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="icon" href="/static/page Img/music.jfif">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/Register.css">
    <title>MusicWebsite-Register</title>
</head>
<body>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password">
      
        <input type="submit" value="Submit">
        <p>Already have  Account <br> <br><a href="{{url_for('login')}}">Login Here</a></p>
      </form>
      
      
</body>
</html>